<div class="filter-container">
  <button (click)="filterItems('All')">All</button>
  <button *ngFor="let category of foodCategories" (click)="filterItems(category.name)">
    {{ category.name }}
  </button>
</div>

<div *ngIf="foodCategories.length > 0" class="menu-container">
  <h1 class="menu-title">Menu</h1>
  <h2 class="menu-subtitle">eat fresh &amp; healthy</h2>
  <br>

  <div class="food-item-container">
    <div *ngFor="let category of foodCategories" class="category-item">
      <div class="category-header">
        <h4>{{ category.name }}</h4>
      </div>
      <div class="food-items">
        <div *ngFor="let foodItem of category.items | categoryFilter: selectedCategory || 'All'" class="food-item">
          <div class="food-item-inner">
            <div class="food-item-image">
              <img [src]="'/assets/image/' + foodItem.imageUrl" alt="Food Item Image">
            </div>
            <div class="food-item-details">
              <h5 class="food-item-name">{{ foodItem.name }}</h5>
              <p class="food-item-price">{{ foodItem.price | currency: 'INR' }}</p>
              <form (ngSubmit)="addToCart(foodItem.id)" [formGroup]="addToCartForm">
                <input type="hidden" name="itemId" formControlName="itemId" />
                <button type="submit" class="add-to-cart-button">Add to Cart</button>
              </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
